.main{
    background-color: grey;
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    
}
.logo{
    position: absolute;
    height: 30px;
    width: 45px;
    left: 300px;

    
}
.a{

    width: 100%;
    height: 25px;
    
}
.b{
    background-image: url(../appleclone/iphone.jpeg);
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}


#btn1{
    background-color: blue;
    border-radius: 12px;
}
#btn2{
    border-radius: 12px;
    border-color: blue;
}

.c{
    background-image: url(../appleclone/iphone2.jpeg);
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#btn3{
    background-color: blue;
    border-radius: 12px;

}
#btn4{
    border-radius: 12px;
    border-color: blue;
}
.watch{
    background-image: url(../appleclone/watch\ series10.jpeg);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#btn5{
    background-color: blue;
    border-radius: 12px;
    
  
}
#btn6{
    border-radius: 12px;
    border-color: blue;
    

}
.d{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.watch1{
    background-image: url(../appleclone/watch\ ultra2.jpeg);
    background-size: cover;
    height: 450px;
    width: 80%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn7{
    background-color: blue;
    border-radius: 12px;
}
#btn8{
    border-radius: 12px;
    border-color: blue;
}
.airpods{
    background-image: url(../appleclone/airpods4.jpeg);
    background-size: cover;
    height: 450px;
    width: 80%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#btn9{
    background-color: blue;
    border-radius: 12px;
}
#btn10{
    border-radius: 12px;
    border-color: blue;
}
.e{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.am{
    background-image: url(../appleclone/airprds\ max.jpeg);
    background-size: cover;
    height: 500px;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#btn11{
    background-color: blue;
    border-radius: 12px;
}
#btn12{
    border-radius: 12px;
    border-color: blue;
}
.mac{
    background-image: url(../appleclone/macbook.jpeg);
    background-size: cover;
    height: 500px;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn13{
    background-color: blue;
    border-radius: 12px;
}
#btn14{
    border-radius: 12px;
    border-color: blue;
}
.f{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ipad{
    background-image: url(../appleclone/ipadpro.jpeg);
    background-size: cover;
    height: 500px;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn15{
    background-color: blue;
    border-radius: 12px;
}
#btn16{
    border-radius: 12px;
    border-color: blue;
}
.trade{
    background-image: url(../appleclone/tradeit.jpeg);
    background-size: cover;
    height: 500px;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn17{
    background-color: blue;
    border-radius: 12px;
}
.g{
    background-image: url(../appleclone/gonegirl.jpeg);
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#btn18{
    border-radius: 12px;
}